{% extends "base.html" %}


{% block body %}
{% include 'header.html' %}

{% if error %}
  <div class="alert alert-notice alert-info">
        <i class="icon alert-icon icon-comment"></i>
        {{ error }}
  </div>
{% endif %}

<main id="site-content" role="main">
    <div class="page-container-responsive page-container-auth space-top-4 space-8">
      <div class="panel signup-login-form__container" id="signup-modal-content">
        <div class="panel-body signup-login-form__extra-panel-body first">

          <!-- <form accept-charset="UTF-8" action="https://www.airbnb.co.kr/oauth_connect?from=facebook_login&amp;service=facebook" method="post"> -->

          <!-- <form accept-charset="UTF-8" action="https://www.airbnb.co.kr/oauth_connect?from=google_login&amp;service=google" method="post"> -->

          <!-- <form accept-charset="UTF-8" action="https://www.airbnb.co.kr/authenticate" class="login-form " data-action="Signin" method="post"> -->
          <form accept-charset="UTF-8" action="/login" class="login-form " data-action="Signin" method="post">
            <div style="margin:0;padding:0;display:inline">
              <!-- <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="V4$.airbnb.co.kr$i2jMYbS5cPA$HvPgw1VL_FAsO2cutCO0Ks_kv5wWjuBF_pUU4e8tbuQ="/> -->
              <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="#f"/>
            </div>
            <input id="from" name="from" type="hidden" value="email_login"/>
            <input id="airlock_id" name="airlock_id" type="hidden" value=""/>
            <div class="control-group space-1">
              <input class="decorative-input inspectletIgnore" id="signin_email" name="email" placeholder="이메일 주소" type="email"/>
            </div>
            <div class="control-group space-2">
              <input class="decorative-input inspectletIgnore" id="signin_password" name="password" placeholder="비밀번호" type="password"/>
            </div>
            <div class="clearfix space-1">
              <label for="remember_me2" class='checkbox remember-me space-1'>
              <input type="checkbox" name="remember_me" id="remember_me2" value="true" class="remember_me"/>
              비밀번호 저장 </label>
              <a href="#forgot_password.html" class="forgot-password pull-right" data-from="email">로그인하실 수 없나요?</a>
            </div>
            <div id="airlock-inline-container">
            </div>
            <button type="submit" class="btn btn-block signup-login-form__btn-xl btn-primary btn-large" id="user-login-btn">
            로그인 </button>
          </form>
          <div class="panel-body signup-login-form__extra-panel-body">
            <div class="clearfix">
              <div class="signup-login-form__switch-copy">
                 저희 러브펫 계정이 없으세요?
              </div>
              <a href="/signup" class="link-to-signup-in-login modal-link btn btn-default signup-login-form__btn-rausch-border signup-login-form__switch-button signup-login-form__btn-font-normal">
              회원 가입 </a>
            </div>
          </div>
        </div>
      </div>
      <!-- <form accept-charset="UTF-8" action="https://www.airbnb.co.kr/authenticate" id="facebook_form" method="post"> -->
      <form accept-charset="UTF-8" action="#g" id="facebook_form" method="post">
        <div style="margin:0;padding:0;display:inline">
          <!-- <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="V4$.airbnb.co.kr$i2jMYbS5cPA$HvPgw1VL_FAsO2cutCO0Ks_kv5wWjuBF_pUU4e8tbuQ="/> -->
          <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="#h"/>
        </div>
        <input id="airlock_id" name="airlock_id" type="hidden" value=""/>
      </form>
  </main>
  {% include "footer.html" %}
  {% endblock %}
