{% block profilemenu %}


<div class="subnav hide-print">
    <div class="page-container-responsive">
        <ul class="subnav-list">
            <li>
                <a href="#/dashboard" aria-selected="false" class="subnav-item" id="dashboard-item">알림판</a>
            </li>
            <li>
                <a href="https://www.airbnb.co.kr/stats" aria-selected="false" class="subnav-item" id="stats-item">통계</a>
            </li>
            <li>
                <a href="#/inbox" aria-selected="false" class="subnav-item" id="inbox-item">메시지</a>
            </li>
            <li>
                <a href="/rooms" aria-selected="false" class="subnav-item cohosting-ml-tooltip-trigger" id="/rooms">숙소 목록</a>
            </li>
            <li>
                <a href="/pets" aria-selected="false" class="subnav-item" id="/pets">펫 목록</a>
            </li>
            <li>
                <a href="/users/edit" aria-selected="false" class="subnav-item" id="/users/edit">프로필</a>
            </li>
            <li>
                <a href="#account"  aria-selected="false" class="subnav-item" id="#/account">계정 관리</a>
            </li>
            <li>
                <a href="#/invite?r=32" class="subnav-item" id="invite-friends-item">여행 크레딧</a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
