{% block progress %}
<div>
  <div class="progress-bar__container">
    <div class="progress-section progress-bar__placeholder">
    </div>
    <div>
      <span>
      <div class="progress-section progress__bar-section progress-section--first" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
      </div>
      <div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
      </div>
      <div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
      </div>
      <div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
      </div>
      <div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
      </div>
      <div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
      </div>
      </span>
    </div>
  </div>
</div>

<div>
	<div class="progress-bar__container">
		<div>
			<span>
			<div class="progress-section progress__bar-section progress-section--first progress-section--completed progress-section--last-completed" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
			</div>
			</span>
		</div>
	</div>
</div>

<div>
	<div class="progress-bar__container">
		<div>
			<span>
			<div class="progress-section progress__bar-section progress-section--first progress-section--completed" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed progress-section--last-completed" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
			</div>
			</span>
		</div>
	</div>
</div>


<div>
	<div class="progress-bar__container">
		<div>
			<span>
			<div class="progress-section progress__bar-section progress-section--first progress-section--completed" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed progress-section--last-completed" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
			</div>
			</span>
		</div>
	</div>
</div>



<div>
	<div class="progress-bar__container">
		<div>
			<span>
			<div class="progress-section progress__bar-section progress-section--first progress-section--completed" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed progress-section--last-completed" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
			</div>
			</span>
		</div>
	</div>
</div>



<div>
	<div class="progress-bar__container">
		<div>
			<span>
			<div class="progress-section progress__bar-section progress-section--first progress-section--completed" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed progress-section--last-completed" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
			</div>
			</span>
		</div>
	</div>
</div>

<div>
	<div class="progress-bar__container">
		<div>
			<span>
			<div class="progress-section progress__bar-section progress-section--first progress-section--completed" style="width: 16.666666666666668%; left: 0%; max-width: 100%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 16.666666666666668%; max-width: 83.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 33.333333333333336%; max-width: 66.66666666666666%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 50%; max-width: 50%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed" style="width: 16.666666666666668%; left: 66.66666666666667%; max-width: 33.33333333333333%;">
			</div>
			<div class="progress-section progress__bar-section progress-section--completed progress-section--last-completed" style="width: 16.666666666666668%; left: 83.33333333333334%; max-width: 16.666666666666657%;">
			</div>
			</span>
		</div>
	</div>
</div>

{% endblock %}
