{% extends "base.html" %}


{% block body %}

{% include 'header.html' %}

{% if error %}
  <div class="alert alert-notice alert-info">
        <i class="icon alert-icon icon-comment"></i>
        {{ error }}
  </div>
{% endif %}

<!-- signup -->
  <main id="site-content" role="main">
    <div class="page-container-responsive page-container-auth space-top-4 space-8">
      <div class="panel signup-login-form__container" id="signup-modal-content">
        <div class="alert alert-with-icon alert-error alert-header panel-header hidden-element notice" id=notice>
          <i class="icon alert-icon icon-alert-alt"></i>
        </div>
        <div class="panel-padding panel-body signup-login-form__extra-panel-body first signup-panel-box">
          <div class="space-4 space-top-2 signup-modal-social-proof">
            <h2><small>자, 시작해볼까요?</small></h2>
          </div>
          <!-- Hide sign in -->
          {% if error %}
          <div class="signup-form-fields hide" id="signup-select">
          {% else %}
          <div class="signup-form-fields" id="signup-select">
          {% endif %}
            <div class="text-center social-links hide">
                <form action="#e" method="POST" class="inline-form">
                <!-- <button class="button-as-link" name="button" type="submit">페이스북</button><input type="hidden" name="authenticity_token" value="V4$.airbnb.co.kr$i2jMYbS5cPA$HvPgw1VL_FAsO2cutCO0Ks_kv5wWjuBF_pUU4e8tbuQ="> -->
                <button class="button-as-link" name="button" type="submit">페이스북</button><input type="hidden" name="authenticity_token" value="#f">
              </form>
              <!-- <form action="https://www.airbnb.co.kr/oauth_connect?from=google_email_signup&amp;service=google" method="POST" class="inline-form"> -->
              <form action="#g" method="POST" class="inline-form">
                <!-- <button class="js-google-auth button-as-link" name="button" type="submit">구글</button><input type="hidden" name="authenticity_token" value="V4$.airbnb.co.kr$i2jMYbS5cPA$HvPgw1VL_FAsO2cutCO0Ks_kv5wWjuBF_pUU4e8tbuQ="> -->
                <button class="js-google-auth button-as-link" name="button" type="submit">구글</button><input type="hidden" name="authenticity_token" value="#h">
              </form>
               로 회원 가입하세요.
            </div>
            <div class="signup-or-separator">
            </div>
            <div class="text-center">
              <a href="#" onclick="onClicked(this)" class="create-using-email btn-block signup-login-form__btn-xl space-2 btn btn-primary btn-block signup-login-form__btn-xl btn-large large icon-btn" id="create_using_email_button">
              <i class="icon icon-envelope"></i>
              이메일로 회원 가입 </a>
            </div>
          </div>


          <!-- <form accept-charset="UTF-8" action="https://www.airbnb.co.kr/create" class="signup-form" data-action="Signup" id="user_new" method="post"> -->
          <form accept-charset="UTF-8" action="/signup" class="signup-form" data-action="Signup" id="user_new" method="post">
            <div style="margin:0;padding:0;display:inline">
              <!-- <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="V4$.airbnb.co.kr$i2jMYbS5cPA$HvPgw1VL_FAsO2cutCO0Ks_kv5wWjuBF_pUU4e8tbuQ="/> -->
              <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="#j"/>
            </div>
            <!-- hide signup -->
            {% if error %}
            <div class="signup-form-fields" id="signup-email">
            {% else %}
            <div class="signup-form-fields hide" id="signup-email">
            {% endif %}
              <input id="from" name="from" type="hidden" value="email_signup"/>
              <div class="control-group space-1" id="inputEmail">
                <input type="email" name="user[email]" placeholder="이메일 주소" value="" class="decorative-input inspectletIgnore">
                <input class="empty_field_to_prevent_auto_fill">
              </div>
              <div class="control-group space-1" id="inputPassword">
                <input type="password" class="empty_field_to_prevent_auto_fill">
                <input type="password" id="user_password" data-hook="user_password" name="user[password]" placeholder="비밀번호 설정" class="decorative-input inspectletIgnore">
                <div data-hook="password-rule" class="space-top-1 space-1 hide">
                   비밀번호는 1개의 숫자와 1개의 기호를 포함한 8자로 이루어져야 합니다(예: lovepet3!).
                </div>
                <div data-hook="password-strength" class="password-strength">
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block signup-login-form__btn-xl btn-large" id="user-email-signup-btn">
              계정 만들기 </button>
            </div>
          </form>
          <div id="tos_outside" class="space-top-3">
            <div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body js-login-footer signup-login-form__extra-panel-body">
          <div class="clearfix">
            <span class="signup-login-form__switch-copy">
            이미 러브펫 계정이 있나요? </span>
            <a href="/login" class="modal-link link-to-login-in-signup btn btn-default signup-login-form__btn-rausch-border signup-login-form__btn-font-normal signup-login-form__switch-button" data-modal-href="#/login_modal?" data-modal-type="login">
            로그인 </a>
          </div>
        </div>
      </div>
      <!-- <form accept-charset="UTF-8" action="https://www.airbnb.co.kr/authenticate" id="facebook_form" method="post"> -->
      <form accept-charset="UTF-8" action="#k" id="facebook_form" method="post">
        <div style="margin:0;padding:0;display:inline">
          <!-- <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="V4$.airbnb.co.kr$i2jMYbS5cPA$HvPgw1VL_FAsO2cutCO0Ks_kv5wWjuBF_pUU4e8tbuQ="/> -->
          <input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token" type="hidden" value="#l"/>
        </div>
        <input id="airlock_id" name="airlock_id" type="hidden" value=""/>
      </form>
    </main>
    <!-- signup -->

{% include 'footer.html' %}
{% endblock %}
